<launch>
    <!-- world -->
    <include file="$(find easondrone_gazebo)/launch/Eason_indoor.launch"/>

    <!-- 1号无人机 -->
    <include file="$(find easondrone_gazebo)/launch/sitl_p450.launch"/>

    <include file="$(find easondrone_gazebo)/launch/transform.launch"/>

    <include file="$(find vins_fusion)/launch/px4ctrl_vio.launch"/>

    <!-- VINS-Fusion -->
<!--    <include file="$(find vins_fusion)/launch/VINS-Fusion.launch"/>-->

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins_fusion)/config/vins_rviz_config.rviz" />
</launch>
